.git
.github
.idea
.vscode
__pycache__
*.py[cod]
*.log
.env
.env.*
!.env.docker.example
data
config/*
!config/deploy.template-cn.yaml
!config/deploy.template.yaml
!config/template.json
log
webapp/node_modules
webapp/dist
